.nav-bar {
  width: 20vw;
  background-color: #1c1c1c;
  height: 100vh;
  padding: 40px 20px;
}
.logo-cont {
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
}
.tabs-container {
  list-style-type: none;
}
.nav-tab-item-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
